h1 {
  text-align: center;
}
nav {
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(20, 220, 187);
}
figcaption {
  text-align: center;
  font-size: small;
}
#details div {
  padding-left: 300px;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 25%;
  background-color: aquamarine;

}
img {
  max-width: 900px;
  padding-left: 170px;
}
#featured-property p {
  max-width: 800px;
  text-align: center;
  padding-left: 260px;
}


